img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 50%;
}

.heading {
    text-align: center;
    color: blue;

}
#count {
    text-align: center;
}

.followers {
    text-align: center;
}